/* *{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

May or may not need the above bit? 
*/

html {
    height: 100%;
    width: auto;
}

body {
    font-size: 14px;
    font-family: arial, sans-serif;
}

footer {
    position: fixed;
    bottom: 0;
    left: 0;
    height: 5%;
    width: 100%;
    background-color: #f2f2f2;
    
    
}


a {
    text-decoration: none;
    color: #222;
}

a:hover {
    text-decoration: underline;
}



.nav {
    background-color: white;
    display: grid;
    grid-template-columns: repeat(2, 50px) 1fr repeat(3, 50px) 96px;
    grid-template-rows: 50px;
    grid-template-areas:
    "about store . gmail images apps login";
    grid-gap: 3px;
    justify-items: center;
    align-items: center;
}

#about {
    grid-area: about;
}

#store {
    grid-area: store;
}

#gmail {
    grid-area: gmail;
    font-size: 13px;
}

#images {
    grid-area: images;
    font-size: 13px;
}

#apps {
    grid-area: apps;
}

#login {
    grid-area: login;
}

.apps {
    height: 20px;
    width: auto;
}

.login {
    min-width: 96px;
    background-color: #1a73e8;
    border: 0;
    color: #fff;
    border: 1px solid transparent;
    border-radius: 4px;
    padding: 9px 23px;
    margin-left: 8px;
    margin-right: 8px;
    text-align: center;
    vertical-align: middle;
    letter-spacing: .25px;
    line-height: 16px;
}

.buttons {
    position: relative;
    background-color: #f8f9fa;
    border: 1px solid #f8f9fa;
    border-radius: 4px;
    margin: 11px 4px;
    padding: 0 16px;
    height: 36px;
    min-width: 54px;
    text-align: center;
    line-height: 27px;
    bottom: 10px;

}

.buttons:hover {
    box-shadow: 0 1px 1px rgba(0,0,0,0.1);
    background-color: #f8f8f8;
    border: 1px solid #c6c6c6;
    color: #222;
}

.logoarea {
    grid-area:  3/1/4/7;
}

.search {
    grid-area:  4/1/5/7;
}

#searchbar {
    width: 580px;
    height: 44px;
    border-radius: 24px;
    border: 1px solid #dfe1e5;
}

.buttonarea {
    grid-area:  5/1/6/7;
}

.footer {
    display: grid;
    grid-template-columns: 100px 100px 150px 1fr 100px 100px 100px;
    grid-template-rows: 50px;
    justify-items: center;
    align-items: center;
}

.footer-content {
    color: #70757a;
}

.container {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: repeat(6, 1fr);
    justify-items: center;
    align-items: center;
}